<nav class="navbar navbar-expand-lg navbar-dark bg-light fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#collapseMenu" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">
       <i class="fa fa-film text-danger"></i> MovieBuff
      </a>
    </div>

    <div class="collapse navbar-collapse" id="collapseMenu">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngIf="user">
          <a class="nav-link" routerLink="/upload">
            <i class="fa fa-upload"></i> Upload
          </a>
        </li>

        <li class="nav-item" *ngIf="!user">
          <a class="nav-link" href="/register">
            Register
          </a>
        </li>

        <li class="nav-item" *ngIf="!user">
          <a class="nav-link" href="/login">
            Login
          </a>
        </li>

        <li class="nav-item" *ngIf="user">
          <a class="nav-link" href="/">
            <b>Hey, {{user?.username}}</b>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>
<div class="container-fluid" style="margin-top:40px;">
  <router-outlet></router-outlet>
</div>